/* html {
  scroll-behavior: smooth;
} */
/* body */
.main-content {
  font-family: "Lato", sans-serif;
  width: 100%;
  overflow: hidden;
}
/* navber */
.navber {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  z-index: 1000;
}
.row-left {
  width: 50%;
  padding: 15px;
}
.mobile {
  margin: auto 0;
  display: none;
}
.mobile span {
  cursor: pointer;
  width: 30px;
  height: 3px;
  /* background: #000; */
  margin: 6px 0;
  font-size: 3rem;
  text-align: center;
  padding: 0 30px;
}
.row-right {
  width: 50%;
  /* margin: 0 50px; */
  padding: 10px 20px;
}

.row-right ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0;
}
.row-right ul li {
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
}
.row-right ul li a {
  padding: 15px;
  display: block;
  color: #434343;
  text-decoration: none;
  font-weight: 550;
}
.row-right ul li a:hover {
  color: #ed5f5e;
}
/* hero page */
.main {
  width: 100%;
  height: 100vh;
}
.wrapper,
.slide {
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 3, 6, 0.8);
  z-index: 10;
}
.image {
  height: 100vh !important;
  width: 100% !important;
  object-fit: cover !important;
}
/* .hero-image-layer-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/carousel-1.jpg");
  background-size: cover;
    animation: changeImage 10s linear infinite;

}
.hero-image-layer-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 3, 6, 0.8);
}
@keyframes changeImage {
  0% {
    background-image: url("../images/carousel-1.jpg");
  }
  25% {
    background-image: url("../images/carousel-2.jpg");
  }
  50% {
    background-image: url("../images/carousel-1.jpg");
  }
  75% {
    background-image: url("../images/carousel-2.jpg");
  }
  100% {
    background-image: url("../images/carousel-1.jpg");
  }
} */
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 10px;
  z-index: 5;
}
.image-data span.text-2 {
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 10px;
  z-index: 5;
}

.image-data .sub-heading {
  font-size: 2rem;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}
.image-data .sub-heading-2 {
  font-size: 1.5rem;
  /* letter-spacing: 5px; */
  color: #fff;
  text-transform: capitalize;
  font-weight: 100;
  line-height: 1.6;
}
a.btn-1 {
  display: inline-block;
  padding: 10px 18px;
  color: #434343;
  background-color: #fff;
  margin-top: 25px;
  font-size: 13px;
  text-align: center;
  border: 1px solid transparent;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
a.btn-1:hover {
  text-decoration: none;
  color: #fff;
  background-color: #242323;
}
/* swipper button css */

.swiper-button-next:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  right: 50px !important;
}
.swiper-button-prev {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  right: 50px !important;
  left: 50px !important;
}
.swiper-button-next::before,
.swiper-button-next::after {
  font-size: 25px !important;
  color: #fff;
}
.swiper-button-prev::before,
.swiper-button-prev::after {
  font-size: 25px !important;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1 !important;
  height: 12px !important;
  width: 12px !important;
  background-color: #fff !important;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff !important;
  background-color: #434343 !important;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}
/* gallery */
.gallery {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.gallery-heading {
  text-transform: uppercase;
  font-size: 3rem;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.gallery-paragraph {
  color: #a9a9a9;
  font-style: italic;
  box-sizing: border-box;
  line-height: 1.8em;
  font-weight: 505;
}
.images {
  position: relative;
  width: 100%;
}
.gallery-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-images-row-1 {
  margin: 0 10px;
  width: 25%;
  justify-content: center;
  border-radius: 10px;
  opacity: 1;
}
.gallery-images-row-1:hover {
  opacity: 0.5;
}
.gallery-images-row-2 {
  margin: 0 10px;
  width: 25%;
  justify-content: center;
  border-radius: 10px;
  opacity: 1;
}
.gallery-images-row-2:hover {
  opacity: 0.5;
}

/* service css */
.service {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.service-heading {
  text-transform: uppercase;
  font-size: 3rem;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.service-paragraph {
  color: #a9a9a9;
  font-style: italic;
  box-sizing: border-box;
  line-height: 1.8em;
  font-weight: 505;
}
.service-contant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #434343;
  font-weight: 500;
  font-size: 1.5rem;
}
.icon {
  background-color: #ed5f5e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 23px;
  line-height: 42px;
  margin: 20px 0 0 20px;
  border-radius: 80% 20% 45% 55% / 46% 68% 32% 54%;
  position: relative;
  animation: water-wave 3s linear infinite;
}
.icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 80% 20% 45% 55% / 46% 68% 32% 54%;
  background: transparent;
  border: 1px solid #fff;
  animation: water-wave 3s linear infinite;
}
@keyframes water-wave {
  0% {
    border-radius: 80% 20% 45% 55% / 46% 68% 32% 54%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 80% 20% 45% 55% / 46% 68% 32% 54%;
  }
}
.service-webdesign {
  width: 17%;
  margin: 20px;
  border: 1px solid #fff;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s linear;
}
.service-webdesign:hover,
.service-webdesign:active {
  transform: translateY(-3rem);
}
.service-col-1 {
  text-transform: uppercase;
  margin-top: 50px;
  padding-left: 18px;
  font-size: 18px;
}
.service-web-contant {
  line-break: auto;
  padding: 5px 30px 0 20px;
}
/* about */
.about {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-heading {
  text-transform: uppercase;
  font-size: 3rem;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.about-paragraph {
  color: #a9a9a9;
  font-style: italic;
  box-sizing: border-box;
  line-height: 1.8em;
  font-weight: 505;
}
.about-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f8f8f8;
  justify-content: center;
}
.about-content {
  width: 40%;
  padding: 0 90px 50px 0;
}
.about-content h2 {
  font-family: "Montserrat", sans-serif;
  color: #434343;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 15px;
  line-height: 1.4em;
  font-size: 26px;
  letter-spacing: 1px;
}
.about-image-right {
  width: 100%;
}
.about-content p {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #767676;
}
.btn-2 {
  background-color: #434343;
  padding: 10px 18px;
  border: 1px solid #434343;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin: 30px 0;
  letter-spacing: 1.5px;
}
.btn-2:hover {
  background-color: #000;
}

/* video section */
.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 80px 0;
  overflow: hidden;
}
video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.autoplay-video::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 3, 6, 0.7);
  z-index: 10;
}
.video-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.content {
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 10px;
  z-index: 5;
}
.description {
  font-size: 2rem;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}
/* partners section */
.clients-introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  padding: 80px 0 10px;
  margin: 150px 0 0;
  width: 100%;
}
.client-heading-paragraph {
  text-align: center;
  padding-top: 20px;
}
.clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 5px 0 70px;
  margin: 0 0 100px;
  width: 100%;
}

.clients-company-image {
  /* width: 20%; */
  width: 210px;
  padding: 40px;
  opacity: 0.5;
}
.clients-company-image:hover {
  opacity: 1;
}
/* contact section */
.contact {
  text-align: center;
  padding: 80px 0 30px;
}
.contact-heading {
  text-transform: uppercase;
  font-size: 3rem;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.contact-paragraph {
  color: #a9a9a9;
  font-style: italic;
  box-sizing: border-box;
  line-height: 1.8em;
  font-weight: 505;
}
/* contact form */
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container {
  padding-left: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form-container .form-name,
.form-email {
  padding: 10px;
  width: 50%;
}
.form-textarea {
  padding: 10px;
  width: 100%;
}
.submit-btn-div {
  padding-left: 15px;
}
.form-name input,
.form-email input {
  height: 45px;
  font-size: 1.1rem;
  border: 1px solid #f5f5f5;
  padding-left: 10px;
  outline: none;
  margin-top: 6px;
  background-color: #f5f5f5;
  font-family: sans-serif;
}
.form-textarea textarea {
  outline: none;
  border: 1px solid #f5f5f5;
  margin-top: 6px;
  background-color: #f5f5f5;
  padding: 8px 9px;
  font-size: 1.1rem;
  font-family: sans-serif;
}
.submit-btn {
  background-color: #ed5f5e;
  padding: 10px 18px;
  border: 1px solid #ed5f5e;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin: 30px 0;
  letter-spacing: 1.5px;
}
.submit-btn:hover {
  background-color: #e51b1a;
}
/* contact section right side */
.contact-form {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}
.contact-details {
  padding: 20px 30px;
}
.contact-details-heading {
  margin-left: 18px;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.address-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.contact-main-content {
  padding-top: 15px;
  padding-left: 22px;
}
.address {
  margin: 0px 0px 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
  color: #767676;
  font-family: "Lato", sans-serif;
}
.address-description {
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
  color: #767676;
}
/* footer section */
.footer {
  display: flex;
  flex-direction: row;
  background-color: #2a2a2a;
  width: 100%;
  margin-top: 30px;
}
.footer-element-1,
.footer-element-2 {
  padding: 60px;
}
.footer-logo {
  padding-bottom: 10px;
}
.footer-description {
  color: #c4c2c2;
  margin: 15px;
}
.footer-heading-1 {
  color: #c4c2c2;
  font-family: "Muli", sans-serif !important;
  font-size: 1.5rem;
}
.footer-company-division {
  padding: 5px 0;
}
.footer-company-division li {
  list-style: none;
  line-height: 0.7cm;
}
.footer-company-division li a {
  color: #f8f8f8;
}
.footer-company-division li a:hover {
  color: #ed5f5e;
  text-decoration: none;
}

.footer-email-icon {
  display: flex;
  flex-direction: column;
  margin: 80px 10px 0;
}
.footer-icon {
  padding-top: 40px;
}
.footer-icon a {
  font-size: 20px;
  color: #fcfcfc;
  padding: 10px;
}
.footer-icon a:hover {
  color: #ed5f5e;
}

.footer-email input {
  width: 300px;
  height: 40px;
  background-color: rgba(240, 238, 255, 0.1);
  border: 1px solid rgba(240, 238, 255, 0.1);
  border-radius: 5px 0;
  padding: 15px;
}
.btn-3 {
  height: 40px;
  width: 80px;
  background-color: #5a4fcf;
  border: 1px solid #5a4fcf;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
.end-top {
  background-color: #ed5f5e;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 23px;
  line-height: 42px;
  margin: 10% 0 10% 80%;
}
.footer_icon_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
.social_icon {
  background-color: #ed5f5e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 23px;
  line-height: 42px;
  margin-left: 18px;
}
.social_icon:hover {
  color: #fff;
}
/* Media Query  */
@media (max-width: 850px) {
  .navber {
    justify-content: space-between;
  }
  .mobile {
    display: block;
  }
  .row-right {
    background: #fff;
    height: 0;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.5s;
    overflow: hidden;
  }
  .row-right.active {
    height: 300px;
  }
  .row-right ul {
    display: block;
    width: fit-content;
    margin: 10px auto 0 0;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .row-right.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
  .service-webdesign {
    width: 40%;
    margin: 15px 15px;
  }
  /* .about-section{
    display: flex;
    flex-direction: column;
  } */
  .about-content p:nth-child(4) {
    display: none;
  }
  .about-content h2 {
    margin-top: 10px;
  }
  .about-section {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .about-content {
    width: 100%;
    padding-top: 30px;
  }
  .about-content p:nth-child(3) {
    display: none;
  }
  .about-content p:nth-child(4) {
    display: block;
  }
  .footer {
    flex-direction: row;
  }
  .footer-logo {
    padding-left: 15px;
  }
  .footer-element-1 {
    padding: 15px;
  }
  .footer-element-2 {
    padding: 30px 20px;
  }
  .footer-heading-1 {
    margin: 0;
    padding-left: 4px;
    text-transform: uppercase;
  }
  .footer-company-division {
    display: flex;
    flex-direction: column;
  }
  .footer-company-division li {
    padding: 5px;
  }
  .footer-element-2:nth-child(3),
  .footer-element-2:nth-child(4) {
    display: none;
    margin-top: 0;
  }
  .footer-email-icon {
    padding-left: 20px;
    margin-top: 10%;
  }
  .footer-email input {
    width: 180px;
    height: 40px;
    background-color: rgba(240, 238, 255, 0.1);
    border: 1px solid rgba(240, 238, 255, 0.1);
    border-radius: 5px 0;
    padding: 15px;
  }
}
@media (max-width: 600px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .about-content {
    width: 100%;
  }
  .clients-company-image {
    max-width: 210px;
  }
  .contact-form {
    flex-wrap: wrap;
    padding-left: 0;
  }
  .form-container {
    padding-left: 0;
  }
  .footer {
    flex-direction: column;
  }
  .footer-logo {
    padding-left: 15px;
  }
  .footer-element-1 {
    padding: 15px;
  }
  .footer-element-2 {
    padding: 5px 20px;
  }
  .footer-heading-1 {
    margin: 0;
    padding-left: 8px;
  }
  .footer-company-division {
    display: flex;
    flex-direction: row;
  }
  .footer-company-division li {
    padding: 10px;
  }
  .footer-element-2:nth-child(3),
  .footer-element-2:nth-child(4) {
    display: none;
    margin-top: 0;
  }
  .footer-email-icon {
    padding-left: 20px;
    margin-top: 0;
  }
}
@media (max-width: 450px) {
  .service-webdesign {
    width: 60%;
    margin: 15px 15px;
  }
}
